Repository slapxxi/task-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier --, npm run eslint --, npm run tslint --

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,md,css}": ["npm run prettier --", "git add"],
  "*.{js,jsx}": ["npm run eslint --"],
  "*.{ts,tsx}": ["npm run tslint --"]
}

Rewrite StoreProvider
  package-lock.json
  package.json
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/Sidebar/Sidebar.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/__snapshots__/Store.spec.tsx.snap
  src/components/Store/context.ts
  src/components/Subtask/SubtasksEditor.spec.tsx
  src/components/Tags/TagsEditor.tsx
  src/components/Tasks/Task.spec.tsx
  src/components/pages/InboxPage.tsx
  src/components/pages/ProjectPage.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/UpcomingPage.tsx
  src/hooks/useStore.ts
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/lib/toEpochTime.spec.ts
  src/services/__snapshots__/pollDatabase.spec.ts.snap
  src/services/__snapshots__/updateTask.spec.ts.snap
  src/services/fetchDatabase.ts
  src/services/pollDatabase.ts
  src/services/updateTask.spec.ts
  src/setupTests.ts
  src/types.ts
Due: npm run prettier --, npm run tslint --

Update database when store updates
  src/App.spec.tsx
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/__snapshots__/Store.spec.tsx.snap
  src/components/Tasks/Task.spec.tsx
  src/hooks/useStore.ts
  src/lib/tasks/createTask.spec.ts
  src/lib/tasks/createTask.ts
  src/services/__snapshots__/pollDatabase.spec.ts.snap
  src/services/__snapshots__/updateTask.spec.ts.snap
  src/services/createDBTag.ts
  src/services/fetchDatabase.ts
  src/services/pollDatabase.ts
  src/services/saveDatabase.ts
  src/setupTests.ts
  src/types.ts
Due: npm run prettier --, npm run tslint --

Delete unused tags when updating tasks
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
Due: npm run prettier --, npm run tslint --

Debounce saving to database
  index.html
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/pages/InboxPage.tsx
  src/components/pages/styles.css
  src/hooks/useStore.ts
  src/lib/removeNullableProperties.ts
  src/lib/tasks/createTask.ts
  src/services/__snapshots__/pollDatabase.spec.ts.snap
  src/services/fetchDatabase.ts
  src/styles/index.css
  src/types.ts
Due: npm run prettier --, npm run tslint --

Create a basic breadcrumbs component
  src/assets/bell.svg
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Breadcrumbs/styles.css
  src/components/Breadcrumbs/styles.css.d.ts
  src/components/Button/Button.tsx
  src/components/Header/styles.css
  src/components/Header/styles.css.d.ts
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/Search/Search.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Subtask/__snapshots__/Subtask.spec.tsx.snap
  src/components/Subtask/__snapshots__/SubtasksEditor.spec.tsx.snap
  src/components/pages/ProjectPage.tsx
  src/components/pages/ProjectsPage.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/UpcomingPage.tsx
  src/components/pages/styles.css
  src/components/pages/styles.css.d.ts
Due: npm run prettier --, npm run tslint --

Display sync indicator when syncing changes to the database
  src/assets/cloud.svg
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Header/Header.tsx
  src/components/Header/styles.css
  src/components/Header/styles.css.d.ts
  src/components/IconSystem/CloudIcon.tsx
  src/components/IconSystem/IconSystem.tsx
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/pages/InboxPage.tsx
  src/components/pages/styles.css
  src/services/saveDatabase.ts
  src/styles/index.css
Due: npm run prettier --, npm run tslint --

Update deps
  package-lock.json
  package.json
Due: none

Use Web Workers to sync state
  index.html
  package-lock.json
  package.json
  src/App.spec.tsx
  src/assets/cog.svg
  src/components/Icon/Icon.tsx
  src/components/Project/Project.spec.tsx
  src/components/Search/Search.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Store/Store.spec.tsx
  src/components/Store/StoreProvider.tsx
  src/components/Store/actions.ts
  src/components/Store/reducers.ts
  src/components/Subtask/SubtasksEditor.spec.tsx
  src/components/Tags/TagsEditor.tsx
  src/components/Tasks/Task.spec.tsx
  src/components/TextArea/styles.css.d.ts
  src/components/pages/SettingsPage.tsx
  src/components/pages/styles.css
  src/custom.d.ts
  src/hooks/__mocks__/useWorker.ts
  src/hooks/useStore.ts
  src/hooks/useWorker.ts
  src/lib/affect.ts
  src/lib/fromEpochTime.ts
  src/lib/removeNullableProperties.ts
  src/main.worker.ts
  src/services/fetchDatabase.ts
  tsconfig.json
  webpack.config.dev.js
Due: npm run prettier --, npm run eslint --, npm run tslint --

Write tests for page components
  src/components/CalendarIcon/__mocks__/CalendarIcon.tsx
  src/components/Deadline/Deadline.tsx
  src/components/Project/Project.spec.tsx
  src/components/Project/Project.tsx
  src/components/Project/__snapshots__/Project.spec.tsx.snap
  src/components/Sidebar/Sidebar.spec.tsx
  src/components/Sidebar/__snapshots__/Sidebar.spec.tsx.snap
  src/components/Store/context.ts
  src/components/Tasks/Task.spec.tsx
  src/components/Tasks/Task.tsx
  src/components/Tasks/TasksEditor.tsx
  src/components/index.ts
  src/components/pages/InboxPage.spec.tsx
  src/components/pages/InboxPage.tsx
  src/components/pages/ProjectPage.spec.tsx
  src/components/pages/ProjectPage.tsx
  src/components/pages/ProjectsPage.spec.tsx
  src/components/pages/ProjectsPage.tsx
  src/components/pages/TodayPage.spec.tsx
  src/components/pages/TodayPage.tsx
  src/components/pages/__snapshots__/InboxPage.spec.tsx.snap
  src/components/pages/__snapshots__/ProjectPage.spec.tsx.snap
  src/components/pages/__snapshots__/ProjectsPage.spec.tsx.snap
  src/components/pages/__snapshots__/TodayPage.spec.tsx.snap
Due: npm run prettier --, npm run tslint --
